<!DOCTYPE html>
<html lang="en" data-theme="garden">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@4.10.3/dist/full.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="../assets/css/main.css" />
        <link
            rel="stylesheet"
            href="../assets/fontawesome/css/fontawesome.css"
        />
        <link rel="stylesheet" href="../assets/fontawesome/css/brands.css" />
        <link rel="stylesheet" href="../assets/fontawesome/css/solid.css" />
        <link rel="stylesheet" href="../assets/css/main.css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
<body>
	<!-- component -->
        <div
            class="md:flex flex-col md:flex-row md:min-h-screen w-full fixed top-0 left-0 right-0"
        >
            <!-- SIDEBAR START -->
            <div
                @click.away="open = false"
                class="flex flex-col w-full md:w-64 flex-shrink-0"
                x-data="{ open: false }"
            >
                <div
                    class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between"
                >
                    <a
                        href="#"
                        class="text-lg font-semibold tracking-widest uppercase rounded-lg"
                    >
                        <div class="hidden md:block lg:block">
                            <img
                                src="../assets/img/logo.png"
                                alt=""
                                class="hidden md:block lg:block rounded-full"
                            />
                        </div>
                        <h2 class="text-center md:mt-10 md:hidden w-full">
                            Asosiasi Klub Motor Bersatu Indonesia
                        </h2>
                    </a>

                    <button
                        class="rounded-lg md:hidden rounded-lg focus:outline-none focus:shadow-outline"
                        @click="open = !open"
                    >
                        <svg
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            class="w-6 h-6"
                        >
                            <path
                                x-show="!open"
                                fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                                clip-rule="evenodd"
                            ></path>
                            <path
                                x-show="open"
                                fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </button>
                </div>
                <nav
                    :class="{'block': open, 'hidden': !open}"
                    class="flex-grow md:block px-4 pb-4 md:pb-0 shadow-md shadow-inner"
                >
                    <a
                        class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white hover:text-white focus:text-white hover:bg-gray-500 focus:bg-gray-500 focus:outline-none focus:shadow-outline"
                        href="../view/index.html"
                        >Home</a
                    >
                    <a
                        class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white hover:text-white focus:text-white hover:bg-gray-500 focus:bg-gray-500 focus:outline-none focus:shadow-outline"
                        href="../view/gallery.html"
                        >Gallery</a
                    >
                    <a
                        class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white hover:text-white focus:text-white hover:bg-gray-500 focus:bg-gray-500 focus:outline-none focus:shadow-outline"
                        href="../view/event.html"
                        >Event</a
                    >
                    <a
                        class="block px-4 py-2 mt-2 text-sm font-semibold x bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white hover:text-white focus:text-white hover:bg-gray-500 focus:bg-gray-500 focus:outline-none focus:shadow-outline"
                        href="../view/klien.html"
                        >Klien Kami</a
                    >
					                    <a
                        class="block px-4 py-2 mt-2 text-sm font-semibold x bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white hover:text-white focus:text-white hover:bg-gray-500 focus:bg-gray-500 focus:outline-none focus:shadow-outline"
                        href="../view/artikel.html"
                        >Artikel</a
                    >
                </nav>
            </div>
            <!-- SIDEBAR START -->

            <div class="h-screen w-screen" style="overflow-y: auto">
                <!-- NAVBAR START -->
                <img
                    src="../assets/img/Asosiasi Klub Motor Bersatu Indonesia.png"
                    alt=""
                    class="w-full h-auto h-auto bg-cover flex justify-center"
                />
                <div class="shadow-md sticky top-0 z-40 -mx-6 bg-neutral">
                    <div
                        class="font-bold flex justify-between md:mx-6 p-4 px-8 sm:text-center text-[10px] text-nowrap md:text-sm text-white"
                    >
                        <a
                            href="http://localhost/club_motor/view/index.html#profil"
                            class="rounded-lg block px-4 py-2 focus:bg-white focus:outline-none focus:shadow-outline"
                            >Profil</a
                        >
                        <a
                            href="http://localhost/club_motor/view/index.html#visi-misi"
                            class="rounded-lg block px-4 py-2 focus:bg-white focus:outline-none focus:shadow-outline"
                            >Visi Misi</a
                        >
                        <a
                            href="http://localhost/club_motor/view/index.html#produk"
                            class="rounded-lg block px-4 py-2 focus:bg-white focus:outline-none focus:shadow-outline"
                            >Produk Kami</a
                        >
                        <a
                            href="http://localhost/club_motor/view/index.html#kontak"
                            class="rounded-lg block px-4 py-2 focus:bg-white focus:outline-none focus:shadow-outline"
                            >Kontak Kami</a
                        >
                        <a
                            href="http://localhost/club_motor/view/index.html#about-us"
                            class="rounded-lg block px-4 py-2 focus:bg-white focus:outline-none focus:shadow-outline"
                            >Tentang Kami</a
                        >
                    </div>
                </div>
                <!-- NAVBAR END -->
				<!-- ARTIKEL START -->
				<div class="bg-white py-24 sm:py-32">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-2xl lg:mx-0">
                            <h2
                                class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
                            >
                                Artikel
                            </h2>
                            <p class="mt-2 text-lg leading-8 text-gray-600">
                                Artikel Klub Motor Kami
                            </p>
                        </div>
                        <div
                            class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
                        >
                            <div
                                class="card w-[21rem] glass shadow shadow-lg hover:shadow-2xl duration-300 ease-in-out"
                                data-aos="fade-up"
                                data-aos-duration="500"
                            >
                                <figure>
                                    <img
                                        src="../assets/img/gallery9.jpg"
                                        alt="car!"
                                        class="w-full h-52"
                                    />
                                </figure>
                                <div class="card-body">
                                    <h2 class="card-title">Donasi</h2>
                                    <p>
                                        Kenapa Kami Suka Motor?
                                    </p>
                                    <div class="card-actions justify-end">
                                        <a
                                            href="../view/artikel1.html"
                                            class="btn btn-primary"
                                            >Baca!</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                class="card w-[21rem] glass shadow shadow-lg hover:shadow-2xl duration-300 ease-in-out"
                                data-aos="fade-up"
                                data-aos-duration="500"
                            >
                                <figure>
                                    <img
                                        src="../assets/img/gallery10.jpg"
                                        alt="car!"
                                        class="w-full h-52"
                                    />
                                </figure>
                                <div class="card-body">
                                    <h2 class="card-title">Tour Gua Mimpi</h2>
                                    <p>
                                        Gua Mimpi berasa mimpi coyy
                                    </p>
                                    <div class="card-actions justify-end">
                                        <a
                                            href="../view/artikel2.html"
                                            class="btn btn-primary"
                                            >Baca</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<!-- ARTIKEL END -->
				<!-- FOOTER START -->
                <div class="">
                    <div class="bg-base-200">
                        <footer
                            class="footer container mx-auto px-4 p-10 text-base-content"
                        >
                            <nav>
                                <h6 class="footer-title">Services</h6>
                                <a href="../view/index.html#produk_card" class="link link-hover"
                                    >Produk</a
                                >
                                <a href="../view/index.html#produk" class="link link-hover">Membership</a>
                                <a href="../view/event.html" class="link link-hover">Event</a>
                                <a href="../view/gallery.html" class="link link-hover">Gallery</a>
                            </nav>
                            <nav>
                                <h6 class="footer-title">Company</h6>
                                <a href="../view/index.html#profil" class="link link-hover"
                                    >Profil</a
                                >
                                <a href="../view/index.html#about_us" class="link link-hover"
                                    >Tentang Kami</a
                                >
                                <a href="../view/index.html#visi-misi" class="link link-hover"
                                    >Visi Misi</a
                                >
                                <a href="../view/klien.html" class="link link-hover"
                                    >Klien Kami</a
                                >
                            </nav>
                            <nav>
                                <h6 class="footer-title">Legal</h6>
                                <a class="link link-hover">Terms of use</a>
                                <a class="link link-hover">Privacy policy</a>
                                <a class="link link-hover">Cookie policy</a>
                            </nav>
                        </footer>
                    </div>
                    <footer
                        class="footer px-10 py-4 border-t bg-base-200 text-base-content border-base-300"
                    >
                        <aside class="items-center grid-flow-col">
                            <img
                                src="../assets/img/logo.png"
                                class="w-20"
                                alt=""
                            />
                            <p>
                                Asosiasi Klub Motor Bersatu Indonesia Ltd.
                                <br />Providing reliable motors since 2000
                            </p>
                        </aside>
                        <nav class="md:place-self-center md:justify-self-end">
                            <div class="grid grid-flow-col gap-4">
                                <a class="btn">
                                    <i
                                        class="fa-brands fa-twitter text-2xl"
                                    ></i>
                                </a>
                                <a class="btn">
                                    <i
                                        class="fa-brands fa-youtube text-2xl"
                                    ></i>
                                </a>
                                <a class="btn">
                                    <i
                                        class="fa-brands fa-facebook text-2xl"
                                    ></i>
                                </a>
                            </div>
                        </nav>
                    </footer>
                </div>
                <!-- FOOTER END -->
            </div>
        </div>

        <!-- script -->
        <script
            src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
            defer
        ></script>
</body>
</html>